body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

hr {
  border-style: dotted none none;
  border-color: #51C4D3;
  border-width: 7px;
  width: 5%;
}

h1 {
  color: #126E82;
  margin: 50px auto 0;
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
}

h2 {
  color: #126E82;
  font-family: 'Audiowide', cursive;
  font-size: 2.5rem;
  font-weight: normal;
}

h3 {
  color: #126E82;
  font-family: 'Audiowide', cursive;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px;
  text-align: left;
  line-height: 2;
}

.top-container {
  background-color: #D8E3E7;
  position: relative;
  padding-top: 150px;
}

.middle-container {
  padding: 50px 0 10px 0;
}

.bottom-container {
  background-color: #3696B4;
  margin-bottom: 0;
  padding: 50px 0 10px 0;
}

.top-poster {
  position: absolute;
  right: 280px;
  top: 70px;
}

.bottom-poster {
  position: absolute;
  width: 10%;
  left: 300px;
  bottom: 400px;
}

.profile {
  display: block;
  margin: 0 auto 100px;
}

.skills {
  display: block;
  margin: 100px auto 100px;
}

.contact-me {
  display: block;
  margin: 100px auto 100px;
}

.inline-img {
  display: block;
  margin: 50px auto 0;
}

.profile-img {
  width: 15%;
}

.skill1-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.skill2-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

/*----- Button--------*/
.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px auto 100px;
}

.button {
  min-width: 300px;
  min-height: 60px;
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #51C4D3;
  background: linear-gradient(90deg, rgba(54, 150, 180, 1) 0%, rgba(81, 196, 211, 1) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79, 209, 197, .64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
}

button::before {
  content: '';
  border-radius: 1000px;
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #51C4D3;
  box-shadow: 0 0 60px rgba(0, 220, 203, .64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.button:hover, .button:focus {
  color: #313133;
  transform: translateY(-6px);
}

button:hover::before, button:focus::before {
  opacity: 1;
}

button::after {
  content: '';
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 6px solid #51C4D3;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

button:hover::after, button:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }

  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}
